.gradle
.idea
build
gradle.properties
target
repo
helloWorldNxtGen
./**/*.DS_Store
/cgV19-MetaCartridge/src/main/resources/meta/
/core/cgV19-MetaCartridge/src/main/resources/meta/CartridgeServiceLocaterTemplate.groovy
/restDemo/
./**/*.vpp.bak_*
./**/*.vpp.lck
