  # {{moduleName}} is a SpringBoot driven module
  {{moduleName}}:
    container_name: "{{containerName}}"
    build:
      context: ./{{moduleName}}
      dockerfile: Dockerfile
    restart: always
    environment:
      - spring_profiles_active=docker
    ports:
       - "{{modulePort}}:{{applPort}}"
